{% extends 'header.html' %}

{% block title %} Home{% endblock title %}
{% comment %} {% block homeactive %}active{% endblock homeactive %} {% endcomment %}
{% block content %}

<div class="container mt-4">
<div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to Blogging!</h1>
    <hr>
    <p class="lead text-justify"><b>Blogging</b> is a  blog and it is a great blog written by Amit is software engineer He is widely regarded as one of the greatest batsmen in the history of cricket.[5] He is the highest run scorer of all time in International cricket. Considered as the world's most prolific batsman of all time,[6] he is the only player to have scored one hundred international centuries, the first batsman to score a double century in a One Day International (ODI), the h .</p>
    
    <a class="btn btn-block btn-outline-danger" href="/blog/home" role="button">Blogs</a>
    
</div>
</div>

{% comment %} <div class="container my-4">
    <h2>Popular BlogPosts</h2>
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative my-4">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <div class="my-2">
          <a href="/blog" role="button" class="btn btn-primary">Continue reading</a>
          </div>
        </div>
         
      </div>
</div> {% endcomment %}
{% endblock content %}