{% extends 'header.html' %}

{% block title %} Search Results{% endblock title %}
{% comment %} {% block blogactive %}active{% endblock blogactive %} {% endcomment %}
{% block content %}
<div class="container my-4">
    <h2><b>Search Results</b></h2>
    <hr>
    {% if allPosts|length < 1 %}
        <p><b>No search results found</b></p>
        <p>Your Search -<b>{{query|truncatechars:1003}}</b> did not match any documents </p>
        suggestion:<br>
        <ul style="margin-left:1.3em;margin-bottom:2em"><li>Make sure that all words are spelled correctly.</li><li>Try different keywords.</li><li>Try more general keywords.</li><li>Try fewer keywords.</li></ul>
    {% endif %}
    {% for post in allPosts %}
    <div class="row">
    
    <div style="background-color:white;" class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative my-4 cbox">
      <div class="img-fluid col-md-3">
      <img src="{{post.pic.url}}" class="w-100 h-100 p-4" alt="">
    </div>
        <div class="col-md-9 p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-0 text-primary">Article by {{post.user}}</strong>
          <h3 >{{post.title}}</h3>
          {% comment %} <div class="mb-1 text-muted">{{post.timestamp}}</div> {% endcomment %}
          <p class="card-text mb-auto">{{post.content|truncatechars:300}}</p>
          <div class="my-2">
          <a href="/blog/{{post.sno}}" role="button" class="btn btn-block btn-outline-success mt-3">Continue reading</a>
          
          </div>
        </div>
         
      </div>
      </div>
    {% endfor %}
</div>
{% endblock content %}