{% extends 'header.html' %}


{% block title %}
signup
{% endblock title %} 

{% block content %}

<div class="container">
<div class="ui active dimmer" id="load" hidden>
    <div class="ui large text loader"></div> 
  </div>
</div>

<div class="container">

  <div class="col-lg-5 col-md-6 mx-auto ui segment mt-4 p-4">
    <h1>Create Account</h1>

    <hr>
    <div class="ui error message" id="message" {% if not error %} hidden {% endif %} >
        {{error}}
    </div>
    <form class="ui form" id="form" onsubmit="return validate(event)" method="POST" action="/signup">
      {% csrf_token %}
      {{form.as_p}}
      <button class="ui button teal btn-block" id="submitButton" type="submit">Submit</button>
      {% comment %} <button class='js-captcha-refresh'></button> {% endcomment %}
      
    </form>
  </div>
</div>
{% load static %}
{% comment %} <script src="{% static 'shop/js/signup.js' %}"></script> {% endcomment %}
{% endblock content %}